.main {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 100px;
}

.contentHeader {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-left: var(--left-102);
  margin-top: var(--height-menu);
}

.mainImage {
  z-index: 1;
  height: 600px;
  object-fit: cover;
}

.myMainImage {
  width: 42.86vw;
  height: 48.96vw;
  object-fit: cover;
}

.mainPortrait {
  position: relative;
  width: 42.86vw;
  height: 48.96vw;
  object-fit: cover;
  z-index: 1;
}

.headline {
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin-top: 188px;
  height: fit-content;
}

.introduceMeText {
  display: flex;
  align-items: center;
  height: fit-content;
}

.nameAndProfession {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.iam {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 5.25vw;
  color: #ffffff;
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(-180deg);
  text-indent: -12px;
}

.iam2 {
  z-index: 2;
  position: absolute;
  top: 208px;
  right: 8px;
  color: #ffffff;
  font-weight: 400;
  font-size: 4.65vw;
  line-height: 120%;
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(-180deg);
  // text-indent: -12px;
}

.iam2Mobile {
  display: none;
  z-index: 2;
  color: #ffffff;
  font-weight: 400;
  font-size: 4.65vw;
  line-height: 120%;
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(-180deg);
}

.myName {
  z-index: 2;
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 7vw;
  line-height: 120%;
  color: #ffffff;
}

.name {
  font-family: "Poppins Bold";
  font-weight: 700;
  font-size: 6.25vw;
  line-height: 120%;
  color: #ffffff;
}

.profession {
  z-index: 2;
  margin-top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 120%;
  color: #4b47ff;
}

.jobTitle {
  font-weight: 400;
  font-size: 4.0278vw;
  line-height: 120%;
  color: #4b47ff;
}

.rotateLeft90 {
  height: 100px;
  z-index: 2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
  color: #ffffff;
  text-align: center;
  transform-origin: center;
  transform: rotate(270deg);
}

.personShadow {
  position: absolute;
  top: 221.62px;
  left: 12px;
}

// settings adopted from figma therefore this class name
.personShadowFigma {
  position: absolute;
  height: 48.96vw;
  object-fit: cover;
}

.letsTalkButton {
  display: flex;
  z-index: 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 15px 30px;
  margin-top: 44px;
  width: 165px;
  height: 58px;
  background: #00bee8;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;

  a {
    width: 105px;
    height: 28px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #ffffff;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &:hover {
    background: #4b47ff;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
  }
}

.letsTalkButtonMobile {
  display: none;
  z-index: 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 15px 30px;
  width: 165px;
  height: 58px;
  background: #00bee8;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;

  a {
    width: 105px;
    height: 28px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #ffffff;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &:hover {
    background: #4b47ff;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
  }
}

.scrollContainer {
  position: absolute;
  top: 53.125vw;
  z-index: 2;
  align-self: flex-end;
  &:hover {
    cursor: pointer;
  }
}

.linkContainer {
  display: flex;
  align-items: center;
}

.scrollDown {
  cursor: pointer;
  z-index: 2;
  margin-right: 8px;
  width: 133px;
  height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #ffffff;
}

.scrollDownImage {
  z-index: 2;
  transform: rotate(-90deg);
  width: 16px;
  height: 16px;
  object-fit: cover;
  align-self: center;
}

.vector1 {
  z-index: 1;
  width: 94px;
  height: 0px;
  border: 3px solid #4b47ff;
  border-radius: 0px 4px 4px 0px;
}

.socialMedia {
  position: absolute;
  top: 56.39vw;
  left: -58px;
  margin-top: 112px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socialMediaImages {
  margin-left: 42px;
  z-index: 1;
  cursor: pointer;
}

.socialMediaImageMobile {
  margin-left: 42px;
}

.socialMediaEmail {
  width: fit-content;
  height: 28px;
  margin-left: 40px;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #ffffff;
}

.anchor4 {
  position: absolute;
  width: 135px;
  height: 23px;
  left: 664px;
  top: 5123px;
}

.linebox {
  position: absolute;
  top: calc(400px - var(--height-menu));
  left: -100px;
  right: 0;
  z-index: 1;
  height: 1079px;
}

.lineboxFigma {
  position: absolute;
  height: 467.43px;
  left: 19.93%;
  right: -80.64%;
  top: 345.09px;
  background: linear-gradient(
    165.69deg,
    #1a2743 37.75%,
    #27334b 43.25%,
    #141d2f 70.18%
  );
}

.gradientThing {
  position: absolute;
  height: 1078.6px;
  left: -0.14%;
  right: 0%;
  top: -26px;
  background: radial-gradient(
      102.53% 81.55% at 46.74% 3.94%,
      #1a2743 0.37%,
      #27334b 13.54%,
      #141d2f 71.91%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.d-none {
  display: none;
}

@media (max-width: 1200px) {
  .iam2 {
    font-size: 4.45vw !important;
    top: 203px !important;
  }
  .name {
    font-size: 6vw !important;
  }
}

@media (max-width: 1080px) {
  .iam2 {
    font-size: 4.25vw !important;
    top: 203px !important;
  }
  .name {
    font-size: 5.75vw !important;
  }

  .jobTitle {
    font-size: 3.75vw !important;
  }
}

@media (max-width: 1000px) {
  .contentHeader {
    margin-left: 0px !important;
  }

  .iam2 {
    top: 200px !important;
    font-size: 4vw !important;
  }

  .name {
    font-size: 5.25vw !important;
  }

  .scrollContainer {
    top: 60vw !important;
    right: 0px !important;
  }
}

@media (max-width: 900px) {
  .jobTitle {
    font-size: 3.5vw !important;
  }

  .iam2 {
    top: 195px !important;
  }

  .scrollContainer {
    right: -25px !important;
  }
}

@media (max-width: 775px) {
  .jobTitle {
    font-size: 3.4vw !important;
  }

  .name {
    font-size: 5.2vw !important;
  }

  .socialMediaEmail {
   font-size: 20px;
  }

  .scrollDown {
    font-size: 20px !important;
    margin-right: -4px !important;
  }
}

@media (max-width: 740px) {

  .iam2 {
    font-size: 3.8vw !important;
  }

  .jobTitle {
    font-size: 3.25vw !important;
  }

  .name {
    font-size: 4.9vw !important;
  }
}

@media (max-width: 680px) {
  .jobTitle {
    font-size: 3.2vw !important;
  }

  .name {
    font-size: 4.8vw !important;
  }
}

@media (max-width: 664px) {
  .name {
    font-size: 4.6vw !important;
  }

  .jobTitle {
    font-size: 3vw !important;
  }

  .iam2 {
    font-size: 3.4vw !important;
  }
}

@media (max-width: 612px) {
  .name {
    font-size: 4.2vw !important;
  }
  .iam2 {
    font-size: 2.75vw !important;
  }
  .jobTitle {
    font-size: 2.8vw !important;
  }
}

@media (max-width: 600px) {
  .main {
    position: relative;
}

  .scrollContainer {
    display: none !important;
  }

  .contentHeader {
    flex-direction: column !important;
  }

  .mainPortrait {
    height: fit-content !important;
    width: 80vw !important;

  }

  .myMainImage {
    height: 74.64vw !important;
    width: 80vw !important;
  }

  .headline {
    margin-top: 22px !important;
    padding-left: 32px !important;
  }

  .name {
    font-size: 45px !important;
  }

  .jobTitle {
    font-size: 29px !important;
  }

  .iam2 {
    display: none !important;
    font-size: 32px !important;
    top: 500px !important;
    right: 412px !important;
  }

  .iam2Mobile {
    display: flex !important;
    font-size: 32px !important;
  }

  .letsTalkButton {
    margin-top: 26px !important;
  }

  .fixedMenu {
    display: none !important;
  }

  .fixedMenuMobile {
    display: flex !important;
  }

  .socialMedia {
    position: absolute;
    top: 674px;
    left: -58px !important;
  }

  .socialMediaEmail {
    display: none !important;
  }
}

@media (max-width: 515px) {
  .iam2Mobile {
    font-size: 6vw !important;
  }

  .name {
    font-size: 8.5vw !important;
  }

  .jobTitle {
    font-size: 5.4vw !important;
  }

}