.main {
  display: flex;
  flex-direction: column;
}

.contentHeader {
  position: relative;
  // height: var(--height-header);
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-left: var(--left-102);
}

.mainImage {
  z-index: 1;
  height: 705px;
  width: 500px; // originally 646px
  object-fit: cover;
}

.headline {
  display: flex;
  margin-top: 188px;
  height: fit-content;
  align-items: flex-start;
}

.introduceMeText {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-size: 64px;
  font-weight: 400;
  color: #ffff;
}

.myName {
  width: 640px;
  height: 108px;
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  color: #ffffff;
}

.profession {
  width: 619px;
  height: 70px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 120%;
  color: #4b47ff;
}

.rotateLeft90 {
  // display: none;
  margin-top: 60px;
  width: 152px;
  height: 63px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  // line-height: 120%;
  color: #ffffff;
  transform: rotate(-90deg);
}

.personShadow {
  position: absolute;
  top: 221.62px;
  left: 12px;
}

// settings adopted from figma therefore this class name
.personShadowFigma {
  position: absolute;
  // left: 12px;
  // top: 221.62px;
  // top: 176px;
  height: 705px;
  width: 705px;
  object-fit: cover;
}

.letsTalkButton {
  display: flex;
  z-index: 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  // padding: 15px 15px 15px 0px;
  padding: 15px 30px;
  margin-top: 44px;
  width: 165px;
  height: 58px;
  background: #00bee8;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;

  a {
    width: 105px;
    height: 28px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #ffffff;
    text-decoration: none;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &:hover {
    background: #4b47ff;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
  }
}

.scrollContainer {
  &:hover {
    cursor: pointer;
  }
}

.scrollDown {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 800px;
  right: 36px;
  width: 133px;
  height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  text-decoration: none;
  color: #ffffff;
  transform: rotate(90deg);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.scrollDownImage {
  position: absolute;
  z-index: 2;
  top: 890px;
  right: 96.22px;
}

.vector1 {
  z-index: 1;
  width: 100px;
  height: 0;
  border: 2px solid #4b47ff;
  border-radius: 0px 4px 4px 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.socialMedia {
  position: relative;
  margin-top: 112px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socialMediaImages {
  margin-left: 42px;
  z-index: 1;
  cursor: pointer;
}

.socialMediaEmail {
  width: fit-content;
  height: 28px;
  margin-left: 40px;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #ffffff;
}

.anchor4 {
  position: absolute;
  width: 135px;
  height: 23px;
  left: 664px;
  top: 5123px;
}

.linebox {
  position: absolute;
  top: calc(400px - var(--height-menu));
  left: -100px;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 1079px;
  background-image: url("./../../assets/img/line.png");
  // background-repeat: round;
  // background-size: cover;
}

.d-none {
  display: none;
}
