<div class="contentFooter">
    <!-- <div class="content"> -->
        <div class="logoAndImprintContainer">
            <a href="#">
                <img class="logoImage" src="./../../assets/img/j-development-logo NEU.png">
            </a>
            <a class="imprintLink" routerLink="/imprint" (click)="scrollUp()">Impressum</a>        
        </div>
        <a href="#about-me" class="copyrightText">&#xA9; 2023 Joachim Dürr</a>
        <div class="socialMedia">
            <a href="https://github.com/Yehoyakim88/">
                <img class="socialMediaImages" src="./../../assets/img/GitHub Link.png">
            </a>
            <a href="mailto:jk.duerr@t-online.de">
                <img class="socialMediaImages" src="./../../assets/img/Mail Icon.png">
            </a>
            <a href="">
                <img class="socialMediaImages" src="./../../assets/img/LinkedIn Link.png">
            </a>
        </div>
    <!-- </div> -->
    
</div>


