.contentFooter {
  // z-index: 2;
  padding-left: var(--left-102);
  position: relative;
  height: fit-content; // alternatively: height: var(--height-footer);
  background-color: #141d2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #00bee8;
  padding-top: 32px;
  padding-bottom: 32px;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.logoAndImprintContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logoImage {
  width: 200px;
  height: 40px;
  object-fit: cover;
}

.imprintLink {
  width: 91px;
  height: 19px;
  margin-top: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

.imprintLinkMobile {
  display: none;
  color: #ffffff;
  text-decoration: none;
  margin-top: 33px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
}

.copyrightText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #ffffff;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: #00bee8;
  }
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.socialMediaImages {
  align-self: center;
  margin-left: 42px;
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 1000px) {

  .contentFooter {
    padding-left: calc(var(--left-102) / 4);
  }

  .copyrightText {
    font-size: 20px !important;
  }

  .logoImage {
    width: 175px !important;
    height: 30px !important;
    object-fit: cover;
  }
}

@media (max-width: 900px) {
  .socialMedia {
    margin-right: 50px !important;
  }
}

@media (max-width: 700px) {
  .copyrightText {
    font-size: 18px !important;
  }

  .logoImage {
    width: 125px !important;
    height: 20px !important;
    object-fit: cover;
  }

  .socialMediaImages {
    margin-left: 21px !important;
  }
}

@media (max-width: 600px) {
  .contentFooter {
    flex-direction: column;
    padding-left: unset !important;
    height: 380px !important;
    justify-content: unset !important;
  }

  .copyrightText {
    width: 240px !important;
    height: 28px !important;
    font-size: 23px !important;
    text-align: center !important;
    margin-top: 55px !important;
  }

  .imprintLink {
    display: none !important;
    width: 91px !important;
    height: 19px !important;
    font-size: 16px !important;
    font-family: 'Poppins';
    font-weight: 400;
  }

  .imprintLinkMobile {
    display: flex;
  }

  .socialMedia {
    margin-top: 28.37px !important;
    margin-right: 0px !important;
    width: 236px !important;
    justify-content: space-around;
  }

  .socialMediaImages {
    margin-left: 0px !important;
  }
}
