.contentFooter {
  z-index: 2;
  padding-left: var(--left-102);
  position: relative;
  height: fit-content;              // alternatively: height: var(--height-footer);
  background-color: #141d2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #00bee8;
  padding-top: 32px;
  padding-bottom: 32px;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content; 
}

.logoAndImprintContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logoImage {
  width: 200px;
  height: 40px;
  object-fit: cover;
}

.imprintLink {
  width: 91px;
  height: 19px;
  margin-top: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

.copyrightText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #ffffff;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color:#00bee8;
  }
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.socialMediaImages {
  align-self: center;
  margin-left: 42px;
  z-index: 1;
  cursor: pointer;
}
