<div id="about-me" class="contentAboutMe">
    <div class="aboutMeSection">
        <span class="aboutMeHeader">About me</span>
        <p class="aboutMeText justifiedText">Hi, I am a Front-end deverloper based in Karlsruhe, Germany. 
        I started as sensor systems technology engineer (M.Sc.) and found my path to software development
        playing around with Arduino and Raspberry Pi boards in combination with high-end gesture
        sensor systems.
        </p>
        <div class="personalThings">
            <div class="personalThing">
                <img src="./../../assets/img/About Me Lamp.png" />
                <p class="descText">
                    I like to to experiment with eye catching user interfaces and focus on user-friendly
                    interaction.
                </p>
            </div>
            <div class="personalThing">
                <img src="./../../assets/img/About Me Puzzle.png" style="height: 36px" />
                <p class="descText">
                    I love to structure every bit and byte of information. That is what I love about programming. 
                    Everytime it is just breath-taking that you can develop some stuff just like out of the blue.
                    You just have to combine the best of all worlds to create something innovative.
                </p>
            </div>
        </div>
    </div>
        
    
    <div class="aboutMeImageAndLine">
        <img class="aboutMeImage" src="./../../assets/img/jd.jpeg">
    </div>
    <img class="blurImageRight" src="./../../assets/img/D. blue 1 A.M.png" />
    <span class="line7"></span>
</div>