<!-- <img class="dBlue3ImageOuter" src="./../../assets/img/D. blue 3 footer.png"> -->
<div id="contact" class="contentContact">
  <div class="contactHeader">
    <!-- <img class="contactHeaderLine" src="./../../assets/img/LINE 5.png" /> -->
    <span class="contactHeaderLine"></span>
    <span class="contactHeaderText">Contact</span>
  </div>
  <div class="contactMainSection">
    <img class="dBlue3Image" src="./../../assets/img/D. blue 3 footer.png">
    <div class="contactDescriptions">
      <span class="contactSubHeaderText">Got a problem to solve?</span>
      <p class="contactDescParagraph">
        Contact me through this form, I am interested in hearing you, knowing
        your ideas and contributing to your projects with my work.
      </p>
      <div class="invitationContainer">
        <span class="contactInvitationText"
          >Need a Frontend developer? <b>Contact me!</b></span
        >
        <!-- <span class="textBold">Contact me!</span> -->
      </div>
      
    </div>
    <!-- <div class="contactInputs"> -->
    <div class="contactRightSide">

        <form
      action="./../../assets/send_mail.php"
      method="POST"
      class="contactInputs"
    >
      <input
        class="singleLineInput"
        type="text"
        name="name"
        placeholder="Your name"
        required
      />
      <input
        class="singleLineInput"
        type="text"
        name="mail"
        placeholder="Your email"
        required
      />
      <textarea
        class="multiLineInput"
        name="message"
        placeholder="Your message"
        required
      ></textarea>
      <input type="submit" class="sendMessageButton" value="Send message :)" />
    </form>
    <a href="#" class="goUpButton"><img src="./../../assets/img/Go up button.png"/></a>
    </div>
  </div>
    
    <!-- <a href="#" class="goUpButton"><img src="./../../assets/img/Go up button.png"></a> -->
    <!-- </div> -->
  <!-- <a href="#" class="goUpButton"
    ><img src="./../../assets/img/Go up button.png"
  /></a> -->
  <!-- <img class="dBlue3Image" src="./../../assets/img/D. blue 3 footer.png"> -->
  <!-- <span class="lineAboveFooter"></span> -->
</div>
