.contentContact {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-right: 6.94vw;
}

.contactHeader {
  position: relative;
  top: calc(var(--height-menu) + 100px);
  left: -28px;
  display: flex;
  align-items: center;
}

.contactHeaderLine {
  width: 56px;
  height: 0px;
  border: 3px solid #4b47ff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.contactHeaderText {
  position: absolute;
  left: 106px;
  width: 376px;
  height: var(--height-contactHeaderText);
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

.contactSubHeaderText {
  display: flex;
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #ffffff;
}

.contactMainSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: calc(var(--height-contactHeaderText) + 85px + var(--height-menu));
  margin-left: 6.94vw;
}

.contactDescriptions {
  display: flex;
  flex-direction: column;
  color: white;
  width: 32.847vw;
}

.contactDescParagraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.invitationContainer {
  display: flex;
}

.contactInvitationText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.textBold {
  font-family: "Poppins Bold";
  font-weight: 400;
  margin-left: 6px;
}

.contactRightSide {
  display: flex;
  flex-direction: column;
}

.contactInputs {
  position: relative;
  display: flex;
  flex-direction: column;
}

.singleLineInput {
  padding: 7.5px 25px;
  width: 39.375vw;
  height: 35px;
  margin-bottom: 35px;
  background: #141d2f;
  border: 1px solid #4b47ff;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  &:hover {
    border: 1px solid #00bee8;
  }
}

.multiLineInput {
  padding: 15px 25px;
  width: 39.375vw;
  height: 202px;
  margin-bottom: 35px;
  background: #141d2f;
  border: 1px solid #4b47ff;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  &:hover {
    border: 1px solid #00bee8;
  }
}

.sendMessageButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  padding: 15px 30px;
  margin-bottom: 102px;
  width: 253px;
  height: 58px;
  /* identical to box height, or 28px */

  background: #00bee8;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;

  // width: 193px;
  // height: 58px;

  /* Style 1/subtitles */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  /* identical to box height, or 28px */

  /* White */

  color: #ffffff;

  &:hover {
    cursor: pointer;
    background: #4b47ff;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
  }
}

.goUpButton {
  margin-top: 90px;
  margin-bottom: 90px;
  align-self: flex-end;
  &:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
  }
}

.dBlue3Image {
  position: absolute;
  z-index: 1;
  top: 492px;
  left: -85px;
  height: 775px;
}

.dBlue3ImageOuter {
  position: absolute;
  top: 4000px;
  left: -40px;
}

.d-none {
  display: none !important;
}

@media (max-width: 1200px) {
  .contactDescriptions {
    width: 30vw; // for screen-width > 1200px: 32.847vw;
  }

  .singleLineInput {
    width: 35vw;// for screen-width > 1200px: 39.375vw;
  }

  .multiLineInput {
    width: 35vw;// for screen-width > 1200px: 39.375vw
  }
}

@media (max-width: 600px) {
  .contactHeaderText {
    top: -25px;
    font-size: 45px !important;
    width:fit-content !important;
  }

  .contactMainSection {
    flex-direction: column;
    align-items: center;
  }

  .contactInputs {
    align-items: center;
  }

  .contactRightSide {
    margin-top: 45px !important;
  }

  .contactDescriptions {
    width: 48vw !important;
  }

  .singleLineInput {
    width: 48vw !important;
  }

  .multiLineInput {
    width: 48vw !important;
  }

  .sendMessageButton {
    margin-bottom: 75px !important;
  }

  .goUpButton {
    margin-top: 0px !important;
    margin-bottom: 48px !important;
  }
}