@import "./../../assets/fonts/Poppins/fonts.scss";

.contentMenu {
    position: fixed;
    z-index: 3;
    // width: 100vw;
    height: var(--height-menu);
    // background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Poppins';
}

.fixedMenu {
  // position: fixed;
  // top: 0;
  display: flex;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 109.03px;
  background-color: #141D2F;
}

.fixedMenuMobile {
  position: fixed;
  top: 0;
  display: none;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 109.03px;
  background-color: #141D2F;
}

.logoLink {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.logoImage {
  width: 300px;
  height: 50px;  // originally 200px
  object-fit: cover;
  margin-left: 25px;
}

.burgerMenuImage {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 50px;
}

.dropDownMenu {
  position: fixed;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: calc(100vh - var(--height-menu));
  position: absolute;
  top: 110px;
  right: 0px;
  padding-top: 205px;
  padding-bottom: 205px;
  background: #424856;
  // opacity: 0.5;
}
.dropdownLink {
  text-decoration: none;
  color: #ffff;
  margin-bottom: 33px;
  &:hover {
    cursor: pointer;
    color:#00bee8
  }
}

.menuContainer {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 23px;
  color: #ffff;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;

  &:hover {
    color:#00bee8
  }
}

.d-none {
  display: none !important;
}

.glow {
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  color: #fff;
  text-align: center;
  // animation: glow 1s ease-in-out infinite alternate;
}

.logoImage {
  margin-left: 0 !important;
}

@media (max-width: 950px) {
  .menuContainer {
    margin-right: 50px !important;
    a {
      font-size: 20px !important;
    }
  }
}

@media (max-width: 900px) {
  .menuContainer {
    a {
      font-size: 16px !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
  }
  .logoImage {
    width: 225px !important;
  }

  .logoLinkClass {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}

@media (max-width: 600px) {
  .contentMenu {
    position: unset !important;
  }

  .fixedMenu {
    display: none !important;
  }

  .fixedMenuMobile {
    display: flex !important;
    width: 100vw;
  }

  .burgerMenuImage {
    // z-index: 3;
    &:hover {
      cursor: pointer;
    }
  }
}