@import "./../../assets/fonts/Poppins/fonts.scss";

.contentMenu {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: var(--height-menu);
    // background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Poppins';
}

.fixedMenu {
  // position: fixed;
  // top: 0;
  display: flex;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 109.03px;
  background-color: #141D2F;
}

.fixedMenuMobile {
  position: fixed;
  top: 0;
  display: flex;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 109.03px;
  background-color: #141D2F;
}

.logoLink {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.logoImage {
  width: 300px;
  height: 50px;  // originally 200px
  object-fit: cover;
  margin-left: 25px;
}

.burgerMenuImage {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 50px;
}

.menuContainer {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 23px;
  color: #ffff;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;

  &:hover {
    color:#00bee8
  }
}

.d-none {
  display: none;
}

.glow {
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  color: #fff;
  text-align: center;
  // animation: glow 1s ease-in-out infinite alternate;
}



.logoImage {
  margin-left: 0 !important;
}

@media (max-width: 600) {
  .contentMenu {
    width: 100vw !important;
  }

}