.contentMain {
    height: fit-content;
    background-color: transparent;
}

.skillsDescription {
    display: none;
}

@media (max-width: 600px) {
    .contentMain {
        margin-left: 28px;
        margin-right: 28px;
        position: relative;
        margin-top: calc(var(--height-menu)/2);
    }

    .skillsDescriptionMobile {
        position: relative;
        right: -28px;
        top: calc((2000 / 1440) * 100)vw;
        display: flex !important;
        flex-direction: column;
        align-items: center;
      }
      
      .mySkillsHeader {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 34px;
        font-family: "Poppins Bold";
        font-style: normal;
        font-weight: 700;
        font-size: 6.25vw; // 90px
        line-height: 120%;
        text-align: end;
        color: #ffffff;
      }
      
      .mySkillsLine {
        width: 58px;
        border: 4px solid #4b47ff;
      }
      
      .secondContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .mySkillsSubText {
        margin-right: 70px; // before edit 200px
        margin-bottom: 57px;
        height: 38px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: end;
        color: #ffffff;
      }
      
      .getInTouchButton {
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        align-items: center;
        padding: 15px 30px;
        margin-top: 57px;
        gap: 10px;
        width: 200px;
        height: 58px;
        background: #00bee8;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        a {
          color: #ffffff;
          text-decoration: none;
        }
      
        &:hover {
          background: #4b47ff;
          transition: 0.3s ease-in-out;
          transform: scale(1.2);
        }
      }  
}