<div class="contentMain">
  <app-header></app-header>
  <app-about-me></app-about-me>
  <!-- <div class="skillsDescriptionMobile">
    <div class="absolutePosition">
      <div class="mySkillsHeader">
        <span>My skills</span>
        <div class="mySkillsLine"></div>
      </div>
      <div class="secondContainer">
        <span class="mySkillsSubText"
          >I have grown my frontend developments skills that have allowed me to
          create different real projects.</span>
      </div>
    </div>
  </div> -->

  <app-my-skills></app-my-skills>
  <!-- <app-portfolio></app-portfolio> -->
  <!-- <app-contact></app-contact> -->
</div>
