.contentPortfolio {
  position: relative;
  // height: var(--height-portfolio);
  display: flex;
  // margin-left: 172px;
  // margin-left: 11.944vw;
  // margin-right: 125px;
  // width: 100%;
  // margin-right: 100px;
}

.portfolioContainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--height-menu);
  width: 100%;
  // margin-left: 380px;
  // margin-right: 200px;
}

.headerContainer {
  position: absolute;
  top: 100px;
  right: 0px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: flex-end;
  // margin-left: 88px;
}

.portfolioHeader {
  // width: 389px;
  // height: 108px;
  margin-left: 36px;
  margin-right: 42px;

  display: flex;
  align-items: center;

  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 700;
  // font-size: 90px;
  font-size: 9vw;

  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

.subHeader {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  align-self: center;
  color: #ffffff;
}

.subHeaderMobile {
  // position: relative;
  // top: 80px;
  // left: 80px;
  // display: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  display: flex;
  // align-self: flex-start;
  color: #ffffff;
  margin-top: 35px;
  // margin-left: 145px; // 7.56944vw + 36px
  // margin-left: 15.278vw;
  // width: 69.2vw;
}

.headerSubHeader {
  display: flex;
  // flex-direction: column;
  // align-items: center;
}

// .line4 {
//   // width: 484px;
//   width: 33.61vw;
// }

.linesRight {
  position: relative;
  top: 5.5vw;
  right: 0px;
  width: 33.61vw;
  height: 0px;
  border: 3px solid #4b47ff;
  border-radius: 4px 0px 0px 4px;
}

.linesLeft {
  position: relative;
  top: 5vw;
  right: 0px;
  width: 7.56944vw;
  height: 0px;
  
  border: 3px solid #4b47ff;
  border-radius: 4px 0px 0px 4px;
}

// .line6 {
//   width: 7.56944vw;
// }

.line4Mobile {
  display: none;
  width: 85px;
  height: 0px;
  border: 3px solid #4b47ff;
}

.line6Mobile {
  display: none;
  width: 40px;
  height: 0px;
  border: 3px solid #4b47ff;
  border-radius: 4px 0px 0px 4px;
}

.myProjectsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 391px; 
  margin-left: 172px;
  margin-right: 125px;
}

.myPortfolioShadow {
  position: absolute;
  width: 800px;
  height: 950px;
  left: 0px;
  top: 1078px;
}

.myPortfolioShadow2 {
  position: absolute;
  width: 428.59px;
  height: 951.44px;
  right: 0px;
  // top: 1500px;
  top: 1550px;
}

.d-none {
  display: none !important;
}

@media (max-width: 1000px) {
  .myProjectsContainer {
    margin-left: 108px !important;
  }
}

@media (max-width: 600px) {
  .portfolioContainer {
    margin-top: 0px !important;
  }

  .portfolioHeader {
    width: unset !important;
    margin-right: 10px !important;
    margin-left: 9px !important;
  }

  .myPortfolioShadow {
    width: unset !important;
    display: none !important;
  }

  .myPortfolioShadow2 {
    width: unset !important;
    display: none !important;
  }

  .headerContainer {
    right: -28px !important;
  }

  // .headerSubHeader {
  //   flex-direction: row !important;
  // }

  // .headerContainer {
  //   position: relative !important;
  //   margin-left: 0px !important;
  //   flex-direction: column !important;
  //   width: fit-content;
  //   right: 0px !important;
  // }

  // .headerSubHeader {
  //   flex-direction: row !important;
  // }

  // .subHeader {
  //   display: none !important;
  // }

  // .subHeaderMobile {
  //   display: flex !important;
  //   // align-self: flex-start;
  //   top: 100px;
  //   position: relative;
  //   text-align: center;
  // }

  // .line6 {
  //   display: none !important;
  // }

  // .line4 {
  //   display: none !important;
  // }

  // .line4Mobile {
  //   display: flex !important;
  //   // position: absolute;
  //   width: 75px !important;
  //   // right: -70px !important;
  // }

  // .line6Mobile {
  //   display: flex !important;
  // }
}
