<div id="portfolio" class="contentPortfolio">
  <div id="portfolio" class="portfolioContainer">
    <div class="headerContainer">
      <!-- <img class="line6" src="./../../assets/img/LINE 6.png" /> -->
      <div class="headerSubHeader">
        <!-- <div class="line6Mobile d-none"></div> -->
        <div class="linesLeft"></div>
        <div style="display:flex; flex-direction: column; align-items: center;">
          <span class="portfolioHeader">Portfolio</span>
          <span class="subHeaderMobile"
        >Feel free to try out all my projects presented below.</span>
        </div>
        
        <div class="linesRight"></div>
        <!-- <div class="line4Mobile d-none"></div> -->
        <!-- <span class="subHeader">Feel free to try them out.</span> -->
      </div>
      <!-- <span class="subHeaderMobile">Feel free to try them out.</span> -->
      <!-- <img class="line4" src="./../../assets/img/LINE 4.png" /> -->
      
    </div>

    <div class="myProjectsContainer">
      <div class="project"><app-project></app-project></div>
    </div>

    <img
      class="myPortfolioShadow d-none"
      src="./../../assets/img/D. blue 2 P.png"
    />
    <img
      class="myPortfolioShadow2 d-none"
      src="./../../assets/img/L. blue 2.png"
    />
  </div>
</div>
<!-- <img class="myPortfolioShadow" src="./../../assets/img/D. blue 2 P.png"> -->
<!-- <img class="myPortfolioShadow2" src="./../../assets/img/L. blue 2.png"> -->
