<div id="portfolio" class="contentPortfolio">
  <div id="portfolio" class="portfolioContainer">
    <div class="headerContainer">
      <div class="headerSubHeader">
        <div class="linesLeft"></div>
        <div class="testClass" style="display:flex; flex-direction: column; align-items: center;">
          <span class="portfolioHeader">Portfolio</span>
          <span class="subHeaderMobile"
        >Feel free to try out all my projects presented below.</span>
        </div>
        <div class="linesRight"></div>
      </div>
    </div>

    <div class="myProjectsContainer">
      <div class="project"><app-project></app-project></div>
    </div>

    <img
      class="myPortfolioShadow"
      src="./../../assets/img/D. blue 2 P.png"
    />
    <img
      class="myPortfolioShadowMobile"
      src="./../../assets/img/myPortFolioShadowMobile_mobile.png"
    />
    <img
      class="myPortfolioShadow2"
      src="./../../assets/img/myPortFolioShadow2Mobile.png"
    />
  </div>
</div>
<!-- <img class="myPortfolioShadow" src="./../../assets/img/D. blue 2 P.png"> -->
<!-- <img class="myPortfolioShadow2" src="./../../assets/img/L. blue 2.png"> -->
