.impressum {
    position: relative;
    height: var(--height-imprint);
    background-color: white;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16;
    font-family: 'Poppins';
}