<div class="contentProject">
    <div class="aProject">
        <img class="projectPreviewImage" src="./../../assets/img/tmp_IMage.png">
        <div class="descriptionContainerLeft">
            <span class="projectTitle">El Pollo Loco</span>
            <span class="projectTechnologies">JavaScript | HTML | CSS</span>
            <p class="projectDescription">An entertaining and fun Jump 'N' Run game for kids and adults. Help Pepe fight against the chickens in the desert.</p>
            <div class="projectButtons">
                <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
                <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
            </div>
        </div>
    </div>
    
    <div class="aProjectReverse">
        <div class="descriptionContainerRight">
            <span class="projectTitle">El Pollo Loco</span>
            <span class="projectTechnologies">JavaScript | HTML | CSS</span>
            <p class="projectDescription">An entertaining and fun Jump 'N' Run game for kids and adults. Help Pepe fight against the chickens in the desert.</p>
            <div class="projectButtons">
                <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
                <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
            </div>
        </div>
        <img class="projectPreviewImage" src="./../../assets/img/tmp_IMage.png">
    </div>
    
    <div class="aProject">
        <img class="projectPreviewImage" src="./../../assets/img/tmp_IMage.png">
        <div class="descriptionContainerLeft">
            <span class="projectTitle">El Pollo Loco</span>
            <span class="projectTechnologies">JavaScript | HTML | CSS</span>
            <p class="projectDescription">An entertaining and fun Jump 'N' Run game for kids and adults. Help Pepe fight against the chickens in the desert.</p>
            <div class="projectButtons">
                <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
                <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
            </div>
        </div>
    </div>
    
    <div class="aProjectReverse">
        <div class="descriptionContainerRight">
            <span class="projectTitle">El Pollo Loco</span>
            <span class="projectTechnologies">JavaScript | HTML | CSS</span>
            <p class="projectDescription">An entertaining and fun Jump 'N' Run game for kids and adults. Help Pepe fight against the chickens in the desert.</p>
            <div class="projectButtons">
                <button class="liveTestButton"><span class="liveTestText">LiveTest</span></button>
                <button class="gitHubButton"><span class="liveTestText gitHubText">GitHub</span></button>
            </div>
        </div>
        <img class="projectPreviewImage" src="./../../assets/img/tmp_IMage.png">
    </div>
    
</div>