.contentProject {
    position: relative;
    height: fit-content;
    // margin-left: 225px;
    // margin-left: 15.625vw;
}

.aProject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    // align-items: center;
    // margin-left: 88px;
    // width: 400px;
    // margin-right: 100px;
  }
  
  .aProjectReverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    // align-items: center;
    margin-bottom: 200px;
    margin-left: calc(88px + 0px);
    // padding-right: 100px;
  }
  
  .projectPreviewImage {
    // margin-left: 6.94vw;
    // width: 400px;
    // height: 300px;
    height:20.833vw;
    z-index: 1;
    // height: 400px;
    object-fit: cover;
  }
  
  .descriptionContainer {
    display: flex;
    flex-direction: column;
    // margin-left: 100px;
    // margin-left: 6.94vw;
    // padding-right: 40px;
  }
  
  .descriptionContainerReverse {
    display: flex;
    flex-direction: column;
    // margin-right: 100px;
  }
  
  .projectTitle {
    width: 26.042vw;
    // width: 196px;
    height: 42.82px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 15px;
    color: #4b47ff;
  }
  
  .projectTechnologies {
    width: 26.042vw;
    // width: 488px;
    height: 28px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    margin-bottom: 15px;
  
    color: #00bee8;
  }
  
  .projectDescription {
    width: 26.042vw;
    // width: 375px;
    // height: 57px;
    // margin-right: 40px;
    margin-bottom: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    text-align: justify;
  }
  
  .projectButtons {
    z-index: 2;
    display: flex;
    align-items: center;
    margin-top: 35px;
    justify-content: space-between;
    width: 26.042vw;
  }
  
  .liveTestButton {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
  
    // width: 152px;
    width: 10.4vw;
    height: 58px;
  
    /* Style 1/style 1 b -blues/blues 1 */
  
    background: #4b47ff;
    border-radius: 10px;
    border: 0;
    // margin-right: 43px;
    &:hover {
      cursor: pointer;
      background-color: #00bee8;
    }
  }
  
  .liveTestText {
    width: 92px;
    height: 28px;
  
    /* Style 1/subtitles */
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    /* identical to box height, or 28px */
  
    /* White */
  
    color: #ffffff;
  }
  
  .gitHubButton {
    box-sizing: border-box;
  
    /* Auto layout */
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
  
    // width: 137px;
    width: 10.4vw;
    height: 58px;
  
    /* Style 1/style 1 b -blues/blues 2 */
  
    border: 1px solid #00bee8;
    border-radius: 10px;
    background: none;
    // margin-left: 43px;
    // margin-left: 5.9vw;

    &:hover {
      cursor: pointer;
      background-color: #00bee8;
    }
  }
  
  .gitHubText {
    width: 77px !important;
    font-size: 23px;
  }

  @media (max-width: 1010px) {
    .projectTitle {
      font-size: 28px !important;// before edit: font-size: 32px;
      height: unset !important;
      margin-bottom: 0px !important;
    }

    .projectTechnologies {
      font-size: 20px !important;// before edit: font-size: 23px;
      height: unset !important;
      margin-bottom: 0px !important;
    }

    .projectDescription {
      margin-top: 10px !important;
    }

    .projectButtons {
      margin-top: 15px !important;
    }
  }
  
  @media (max-width: 950px) {
    .liveTestButton {
      height: 40px !important;
    }

    .gitHubButton {
      height: 40px !important;
    }

    .gitHubText {
      font-size: 16px !important;
    }

    .liveTestText {
      font-size: 16px !important;
    }
  }

  @media (max-width: 880px) {
    .projectTitle {
      font-size: 24px !important;// before edit: font-size: 28px;
    }

    .projectTechnologies {
      font-size: 18px !important;// before edit: font-size: 20px;
    }

  }